// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.adm1{
    margin-top: -300px;
    margin-left: -190px;
}
.adm2{
    margin-top: -5px;
    margin-left: -320px;
}
