// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.navbar{
    background-color: #252931;
    
}
#clr{
    color: white;
}
#navbarDropdownMenuLink{
    color: white;
}
.nav-item{
    margin-left: 20px;
}
.logo-img{
    width: 150px;
    // margin-left: 90px;   
}
.navbar-nav{
    margin-left: -600px;
}
.navbar-brand{
    margin-left: 100px;
}


// .wh-div{
//     position: absolute;
//     background-color: white;
//     margin-left: -60%;
//     width: 25%;
//     height: 40%;
//     margin-top: -15%;
//     cursor: pointer;
// }
// .wh-div:hover {
//         -ms-transform: scale(1.1); 
//         -webkit-transform: scale(1.1);
//     transform: scale(1.1); 
//     box-shadow: 0 0 11px rgba(33,33,33,.2);
//   }
// .shy-img{
//     width: 50%;
//     border-radius: 50%;
//     margin-left: 25%;
//     top: 3%;
//     position: absolute;
// }
// .name{
//     margin-left: 23%;
//     margin-top: 60%;
//     font-size: 20px;
// }
// .role{
//     margin-top: -2%;
//     margin-left: 30%;
//     font-size: 15px;
// }

#staff{
    background-color: white;
    width: 100%;
    cursor: pointer;
    align-items: center;
    position: relative;
    top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;

}
.st-img{
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 25%;
    top: 370px;

}
// #staff:hover{
//      
// }
.st-name{
    position: relative;
    top: 230px;
    font-size: 20px;
}
.st-role{
    position: relative;
    top: 220px;
    font-size: 15px;
}


.card{

    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
   width: 50vh;
   display: flex;


}
.card:hover{
    -ms-transform: scale(1); 
    -webkit-transform: scale(1);
    transform: scale(1); 
     box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#cr-st{
    color: white;
    text-decoration: none;
    left: 90%;
    position: absolute;
    
}
.sh{
    position: absolute;
    top: 20px;
}
#search{
    width: 20%;
}
.popup{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    
}
.backpop{
    background-color: rgba(0,0,0,.75);
    filter: blur(5px);
    top: 0%;
    left: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}
.div-img{
    position: relative;
    width:60%;  
    height:20%;
    border-radius: 50%;
    margin-top: 36%;
}
.div-name{
    font-size: 20px;
    // text-align: center;
}
.div-role{
    margin-left: -5%;
}
.all-item{
    background-color: white;
    width: 30%;
    margin-left: 10%;
    align-items: center;
    height: 80%;
    z-index: 20;
}

#on{
    border-style: none;
    background-color: white;
    left: 82%;
    top: 17.5%;
    position: absolute;
}
.ab1{
    width: 40%;
    position: absolute;
    left: 41%;
    top: 33%;
}
.name-div{
    position: absolute;
    background-color:white;
    width: 300px;
    top: 58%;
    left: 19%;
    align-items: center;
    text-align: center;
    // display: flex;
}
.div-link{
    position: relative;
    text-decoration: none;
    left: -32%;
    top: 93%;
    color: #00865E;
    font-size: 16.3px;
}
.div-link1{
    position: relative;
    text-decoration: none;
    left: 5px;
    top: 93%;
    color: #00865E;
    font-size: 16.3px;
}
.div-link1:hover{
    color: #00865E;

}

#se{
    position: absolute;
    width: 20%;
    top: 20%;
    left: 60%;
}
#se-bt{
    position: absolute;
    width: 80px;
    top: -19px;
    left: 81%;
    height: 39px;
    background-color: #26AD6D;
}
#se-bt:hover{
    background-color: #078a4d;
}

.ed{
    text-decoration: none;
    font-size: 16.3px;
    position: absolute;
    left: 47%;
    color: #00865E;
    top: 93%;

}
.ed:hover{
    color: #00865E;
}

#de{
    position: absolute;
    color: rgba(0, 0, 0, 0.425);
    font-size: 20px;
    left: 92%;
    top: 2%;
    display: none;
    text-decoration: none;
   
}
.card:hover #de{
    display: block;

}
#de:hover{
    color: black;
    transition-duration: 0s;
    transition-delay: 0s;
}


  .vl {
    border-left: 2px solid #00865E;
    height: 20px;
    position: absolute;
    left: 161px;
    margin-left: -3px;
    top: 96%;
}


// .vl {
//     border-left: 2px solid #00865E;
//     height: 20px;
//     position: absolute;
//     left: 180px;
//     top: 96%;
// }
  .linkIn1{
    position: absolute;
    color: black;
    font-size: 28px;
    left: 28.5%;
    top: 73%;
}
.linkIn1:hover{
    color: #00865E;
}
.div-about{
    margin-top: -4%;
}
// .sort{
//     position: absolute;
//     top: 50px;
// }







@media (max-width: 362px) {
    

}

